<h2>Showing a planet</h2>

<p>
<strong>Name:</strong>
<%= @planet.name %>

</p>
<p>
<strong>Position:</strong>
<%= @planet.position %>

</p>
<p>
<strong>Orbital Speed:</strong>
<%= @planet.orbital_speed %>

</p>
<p>
<strong>Mass:</strong>
<%= @planet.mass %>

</p>
<p>
<strong>Volume:</strong>
<%= @planet.volume %>

</p>
<%= link_to "Home", planets_path %>