<% if @picture.errors.any? %>
<p>
  Picture could not be saved:
  <ul>
    <% @picture.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</p>  
<% end %>
<%= form_for(@picture) do |form| %>

<p>
	<%= form.label :url %><br />
	<%= form.text_field :url %>
</p>
<p>
	<%= form.label :tradition %><br />
	<%= form.collection_select :tradition_id, Tradition.all, :id, :name %>
</p>
<p>
	<%= form.label :user %><br />
	<%= form.collection_select :user_id, User.all, :id, :name %>
</p>
<p>
	<%= form.label :approved %><br />
	<%= form.check_box :approved %>

</p>
<p>
	<%= form.submit class:"btn btn-default"%>
</p>

<% end %>