<h2>All Picture</h2>
<table>
	<tr>
		<th>Picture</th>
		<th>Posted By</th>
		<th>Tradition</th>
		<th>Approved</th>
		<th></th>
	</tr>
	
	<% @pictures.each do |picture| %>
	
	<tr>
		<td><%= picture.url %></td>
		<td><%= picture.user.name%></td>
		<td><%= picture.tradition.name %></td>
		<td><%= picture.approved %></td>
		<td>
			<%= link_to "Show", picture_path(picture) %>
			<%= link_to "Edit", edit_picture_path(picture) %>
			<%= link_to "Destroy", picture_path(picture), method: 'delete'  %>
		</td>

	</tr>

	<% end %>

</table>
<br />
<%= link_to "New Picture", new_picture_path %>